{# 头部 #}

{% macro head(id) %}
    <div class="head">
        <div class="head__left">TmT</div>
        <div class="head__right">
            <span class="head__usr-id">{{ id }}</span>
            <img src="" alt="" class="head__avator">
        </div>
    </div>
{% endmacro %}